.footer {
    color: #777;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
}


.form {
    max-width: 400px;
    margin: 0 auto auto 20px;
}

.horizon {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}

a,
a:hover,
a:visited{
    text-decoration: none !important;
}

.nav-pagination {
    text-align: center;
}


.padding-top {
    padding-top: 50px;
}


.text-muted: {
    color: #777;
}

a.jobname {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}


.list-more{
    text-align: center;
    margin-bottom: 50px;
}


.list-more-btn {
    padding: 10px 138px;
    color: #5cb85c;
    background-color: #fff;
}
