.footer {
    color: #777;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
}


.form {
    width: 400px;
    margin: 0 auto;
}

.command {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}
