{% extends "base.html" %}
{% from "macros.html" import render_pagination %}


{% block title %}Job{% endblock %}



{% block body %}
<div class="page-header">
    <h1>职位列表</h1>
</div>
{% for job in pagination.items %}
<div class="job-list">
    <div class="row horizon">
        <!-- 职位信息 -->
        <div class="col-md-6">
            <a href="{{ url_for("job.detail", job_id=job.id) }}"><p class="jobname">{{ job.job_title }}</p></a>
            <p><span style="color: #ff8000;">{{ job.salary }}</span> / {{ job.exp_requirement }} / {{ job.edu_requirement }}</p>
            <p class="text-muted">[{{ job.location }}]</p>
        </div>
        <!-- 公司信息 -->
        <div class="col-md-4">
            <a href="{{url_for("company.detail", company_id=job.company.id)}}">{{ job.company.company_name }}</a>
            <p>{{ job.company.description }}</p>
        </div>
        <!-- 发布时间 -->
        <div class="col-md-2">
            <p style="text-align:right;">{{ job.updated_at|timesince }}</p>
        </div>

    </div>
</div>
{% endfor %}
{{ render_pagination(pagination, "job.index") }}
{% endblock %}

