{% extends "user/user_base.html" %}


{% block user %}
<h3>当前简历</h3>
<p>
    {% if current_user.resume_url is none %}
    无
    {% else %}
    <a href="{{ current_user.resume_url }}">
        我的简历
    </a>
    {% endif %}
</p>

<form method="POST" action="{{ url_for("user.resume") }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <h3>上传简历</h3>
    <div class="form-group">
        {{ form.resume.label }}{{ form.resume }}
    </div>
    {{ form.submit(class="btn btn-primary") }}

</form>    

{% endblock %}
