{% extends "company/company_base.html" %}


{% block company %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>职位名称</th>
            <th>地点</th>
            <th>申请人</th>
            <th>状态</th>
            <th>更新日期</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for application in applications %}
        <tr>
            <td>{{ application.id }}</td>
            <td>{{ application.job.job_title }}</td>
            <td>{{ application.job.location }}</td>
            <td>{{ application.user.name }}</td>
            <td>{{ application.status|applycode_to_string }}</td>
            <td>{{ application.updated_at }}</td>
            <td>
                <div class="dropdown">
                    <p id="dropdownMenu1" data-toggle="dropdown"><span class="caret"></span></p>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for("user.resume_file", filename=application.user.resume_file_name) }}">查看简历</a></li>
                        <li><a href="{{ url_for("company.accept_application", application_id=application.id) }}">接受</a></li>
                        <li><a href="{{ url_for("company.reject_application", application_id=application.id) }}">拒绝</a></li>
                
                    </ul>
               </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
